body {
  margin: 3%;
  background-color: rgba(250,235,215, 1);
}

canvas {
  width: 60%;
  height: 60%;
  display: block;

  border-style: solid;
  background-color: antiquewhite;
  border-radius: 50pt;
  border-color: rgba(215, 218, 224, 1);
}

.typeLighting{
  display: flex;
  flex-direction: row;
}
